[submodule "Dependencies/spdlog"]
	path = Dependencies/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Dependencies/glm"]
	path = Dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "GLWrapper"]
	path = GLWrapper
	url = https://github.com/timmy0811/GraphicsAPI-Abstraction
[submodule "Dependencies/glfw"]
	path = Dependencies/glfw
	url = https://github.com/glfw/glfw
[submodule "Dependencies/yaml-cpp"]
	path = Dependencies/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "Dependencies/assimp"]
	path = Dependencies/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/timmy0811/imgui.git
[submodule "Dependencies\\nfd"]
	path = Dependencies\\nfd
	url = https://github.com/mlabbe/nativefiledialog.git
[submodule "Dependencies\\nativefile"]
	path = Dependencies\\nativefile
	url = https://github.com/btzy/nativefiledialog-extended.git
