[submodule "3DCast/3DCast\\vendor\\spdlog"]
	path = 3DCast/3DCast\\vendor\\spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3DCast/3DCast/vendor/glfw"]
	path = 3DCast/3DCast/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3DCast\\3DCast\\vendor\\imgui"]
	path = 3DCast\\3DCast\\vendor\\imgui
	url = https://github.com/timmy0811/imgui.git
[submodule "3DCast\\3DCast\\vendor\\glm"]
	path = 3DCast\\3DCast\\vendor\\glm
	url = https://github.com/g-truc/glm.git
